/* Fonts */ /* see app/layout.tsx */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap'); */

/* Tailwind Dependency */
@import "tailwindcss";

/* Figma Variables Tokens */
@import "./tokens.css";

/* Figma Design Components */
@import "./components/_index_.css";

/* Figma Design Utilities */
@import "./utilities.css";

body {
  background: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
}

.tf-px {
  padding-inline: clamp(1.25rem, 20px + 20 * ((100vw - 375px) / 1065), 2.25rem);
}

.tf-max-w {
  max-width: 90rem;
  margin-inline: auto;
  width: 100%;
}