/**
 * https://www.figma.com/design/gvzEWIlCG5ER28tsFD6YlI/Nantucket---Design-System?node-id=499-199&m=dev
 */
@utility tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-tag);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 1);

  & > span,
  & > p {
    word-break: break-word;
    font-family: var(--font-mono);
    font-size: var(--text-body-small);
    line-height: 1.6;
    letter-spacing: var(--tracking-wide);
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--color-on-tag);
  }
}
